html {
	overflow-y: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar-thumb:vertical {
	height:7px;
}
::-webkit-scrollbar-thumb:horizontal {
	background-color:#FFFFFF;
	height:7px!important;
}

/* ------------ General Layout ------------ */
body {
	font-family:'Source Sans Pro', Calibri, "MS PGothic", Meiryo, sans-serif;
	color: #666;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
	background-color: #F8F8FA;
}
	.momoclo body{
		background-color: #FFEAF3;
	}
p{
	margin: 8px 14px;
	padding: 0 30px 0 10px;
	max-height: 999999px;
}
b, strong { color:#3e3e3e; }
small {
	font-size: 0.8em;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	margin: 5px 5px 0 5px;
	color: #000;
}
h2{
	font-size: 1.6em;
	font-weight: 600;
	margin: 7px 5px 1px 5px;
	color: #111;
}
h3{
	font-size: 1.4em;
	font-weight: 600;
	margin: 0 5px;
	color: #444;
}
h4{
	font-size: 1.2em;
	font-weight: 600;
	margin: 4px 5px 0px 5px;
	color: #000;
}

figure{
	margin: 0;
}
 
img{
	display: block;
}
 
a, a:link{
	color:#3893d0;
}
a:visited {
	color:#86649b;
}

ul{
	margin: 1px 0px;
	padding: 0px 0px 2px 30px;
}
li{
	padding: 1px 0px;
}
ol{
	margin: 2px 0px;
}

.ital{
	font-style: italic;
}

.dark{
	color: #111;
}
.note{
	color: #0022d0;
	font-size: 0.9em;
}

.invisible{
	visibility: hidden;
}

/* ---------------- Header ---------------- */
header.top{
	background-color: #FF84AD;
	height: 45px;
	width: auto;
	box-shadow: 0px 1px 1px rgba(200,10,10,0.2);
}
	.momoclo header.top{
		background-color:#FF9BD3;
	}
header div#top{
	margin: 0px auto;
	max-width: 1000px;
	position: relative;
	text-align: center;
}
header a{
	display: inline-block;
	padding: 2.5px 0px;
}
header.top #momoclologo{
	padding-left: 4px;
}
header.top #searchform{
	position: relative;
	display: inline-block;
	float: right;
	margin: 12px 8px 0px 0px;
	display: none;
}
header.top #searchbox{
	height: 22px;
	width: 160px;
	padding: 0px 10px;
	border-radius: 10px;
	border: 1px solid #F27DA4;
	outline: none;
}
header.top #searchbox::-webkit-input-placeholder {
	color: #999;
}
header.top #searchbox:focus::-webkit-input-placeholder{
	color: #CCC;
}
header.top #homebuttonlink{
	float: left;
}
header.top #homebutton{
	width: 30px;
	height: 30px;
	position: relative;
	float: left;
	margin: 4px 30px 4px 5px;
}
header.top #settingslink{
	float: right;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
header.top #settingsbutton{
	width: 28px;
	height: 28px;
	position: relative;
	float: right;
	margin: 6px 2px;
	cursor: pointer;
}
header.top #settingsmenu{
	display: none;
	position: absolute;
	width: 210px;
	top: 38px;
	right: 0;
	padding-top: 12px;
	padding-left: 0;
	font-size: 16px;
	z-index: 1;
}
header.top .active#settingsmenu{
	display: inline-block;
}
header.top #settingsmenu #settings{
	padding-left: 0;
	margin: 0;
	background-color: #FF84AD;
	list-style-type: none;	
	color: #FFF;
	box-shadow: 1px 1px 1px rgba(100,10,10,0.15), -1px -1px 1px rgba(100,10,10,0.15);
}
.momoclo header.top #settingsmenu #settings{
	background-color: #FF9BD3;
}

#settingsmenu ul#settings{
	padding: 0;
}
#settingsmenu #settings li{
	display: inline-block;
	width: 90%;
	padding: 7px 5%;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	text-align: center;
}
#settingsmenu #settings li#japanesetoggle, #settingsmenu #settings li#romajitoggle{
	width: 40%;
	padding: 10px 5%;
}
.momoclo #settingsmenu #settings li#japanesetoggle, .momoclo #settingsmenu #settings li#romajitoggle,
.momoclo #settingsmenu #settings li#callstoggle{
	width: 25%;
	padding: 10px 4.15%;
}

#top #settingsmenu #settings li:hover{
	background-color: #FFB7CF;
}
.momoclo #top #settingsmenu #settings li:hover{
	background-color: #FFBFE3;
}

#pagetitle, #pagetitle a{
	margin: 0px 15px 2px 3px;
	padding: 0;
	color: #FFF;
	display: inline-block;
	font-size: 1.45em;
	font-weight: 600;
	text-decoration: none;
	text-shadow:
	-1px -1px 0 #F27DA4,  
	1px -1px 0 #F27DA4,  
	-1px 1px 0 #F27DA4,  
	1px 1px 0 #F27DA4;
}
#about{
	margin: 2px 30px;
	overflow: hidden;
}

/* ---------------- Footer ---------------- */
#socialmedia{
	height: 30px;
	max-width: 800px;
	margin: 5px auto;
}
#socialmedia img{
	height: 30px;
	width: 30px;
	margin: 0px 2px;
	float: right;
}

.content, .content2{
	background-color: #FFF;
	padding: 10px 15px;
	margin: 8px auto 10px auto;
	/* border: 1px solid #EDEDED; */
	max-width: 770px;
	overflow: hidden;
}
.content2{
	max-width: 980px;
}

/* ----- Lyriclist Album/List Display ----- */
.headtablist{
	position: relative;
	margin: 5px auto 0 auto;
	top: 1px; /* Cover top border of content */
	z-index: 1;
	max-width: 800px;
}
.headtablist .tab{
	display: inline-block;
	position: relative;
	padding: 8px 22px 5px 22px;

	color: #ffb2d3;
	font-size: 1.1em;
	font-weight: 600;
	
	transition: color 0.15s ease-in;
}
.headtablist .tab.active{
	/* border: 1px solid #EDEDED; */
	border-bottom: 0;
	background-color: #fff;
	color: #f52ca0;
}
.headtablist .tab:not(.active):hover{
	color: #ff71ae;
}
#rectangle{
	position: absolute;
	background: #f52ca0;
	width: 100%;
	height: 3px;
	top: 0;
	left: 0;
}

.headtablist + .content{
	margin-top: 0;
}

.settingslist{
	height: 40px;
	width: 100%;
	margin: 8px 10px 4px 20px;
	color: #ffb2d3;
}
.settingslist button.active{
	color: #f52ca0;
    border-bottom: 2px solid #ff0093;
}
.settingslist button{
	padding: 7px 15px;
	background-color: white;
    border-bottom: 1px solid #ffb2d3;
	border-radius: 0;
	color: #ffb2d3;
}
.settingslist div.albumview{
	display: inline-block;
	margin-left: 18px;
	color: #ff4192;
}
.settingslist div.albumview button:first-child{
	margin-left: 5px;
}
.settingslist div.albumview button{
	padding: 0 10px 5px 10px;
	border-bottom: 0;
}
.settingslist div.albumview button.active{
    border-bottom: 1px solid #ff0093;
}

.wrapping.albumview{
	padding: 8px 20px;
}
.albumview .listitem{
	display: inline-block;
	position: relative;
	width: 320px;
	height: 320px;
	margin: 14px 20px;
	background-size: cover;
	background-position: center; 
	text-align: center;
	color: white;
}
.albumview .listitem .listtitle{
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: 2px;
	padding: 0 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	text-shadow: 
				0.6px 0.6px 2.4px rgba(0,0,0,0.7),
				0.6px -0.6px 2.4px rgba(0,0,0,0.7),
				-0.6px 0.6px 2.4px rgba(0,0,0,0.7),
				-0.6px -0.6px 2.4px rgba(0,0,0,0.7);
}
.albumview .listitem .listoverlay{
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	text-align: left;
	overflow-y: scroll;
	
	background-color: rgba(0, 0, 0, 0.65);
	font-size: 18px;
	z-index: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0;
	text-shadow: 
				0.6px 0.6px 2px rgba(0,0,0,0.7),
				-0.6px -0.6px 2px rgba(0,0,0,0.7);
}
/* White highlight instead for album links */
.albumview .listitem a .listoverlay{
	background-color: rgba(255, 255, 255, 0.35);
}
.albumview .listitem .listoverlay::-webkit-scrollbar { 
    display: none; 
}
.albumview .listitem .listoverlay ol{
	padding-right: 10px;
	margin: 28px 18px;
}
.albumview .listitem .listoverlay li{
	padding-left: 4px;
}
.albumview .listitem .listoverlay a:link{
	color: #59afef
}
.albumview .listitem .listoverlay a:visited{
	color: #c361ff
}
.albumview .listitem .listoverlay:hover{
	opacity: 1;
}

.albumview .yearheader{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 32px;
	font-family: 'Titan One', sans-serif;
	color: #f52ca0;
	border-bottom: 1px solid #ff84ad;
}

.listview{
	display: none;
}

/* ------------- Lyrics Pages ------------- */
table{
	border-collapse: collapse;
	vertical-align: top;
}

#infobox{
	max-width: 100%;
	margin: 10px 15px;
	min-height: 100px;
	text-align: center;
}
.infotable{
	padding: 0px 0px;
	margin: 0px 0px;
	display: inline-block;
	vertical-align: top;
}
.infotable tbody{
	width: 100%;
}
.infotable th{
	text-align: left;
	padding: 0px 4px 0px 10px;
	font-weight: 600;
	width: 95px;
}
.infotable td{
	padding: 1px 12px 0px 4px;
	font-size: 14px;
	width: 270px;
	text-align: left;
}
.infotable tr{
	width: 100%;
	border-top: 1px solid;
	border-color: #C5C5C5;
	border-spacing: 0px;
	line-height: 20px;
}
.infotable tr:first-child{
	border-top: 0px;
}
.infotable tr:last-child{
	border-bottom: 0px;
}
#vocaloid #infobox{
	margin-top: 5px;
	margin-bottom: 5px;
}
#vocaloid #infobox .infotable:first-child td{
	width: 260px;
}
#vocaloid #infobox .infotable:last-child td{
	width: 240px;
}
#versionbutton{
	float: right;
	position: relative;
	right: 30px;
	top: 8px;
	padding: 4px 10px;
	
	color: #666;
	font-family: inherit;
	font-weight: 600;
	font-size: 15px;
	background: #f8f8fa;
	border: 1px solid #EDEDED;
}
#versionbutton:active{
	background-color: #EDEDED;
}

/* ----------- Momoclo Albumart ----------- */
#albumartcontainer{
	display: block;
	padding: 0px 0px;
	width: 146px;
	height: 146px;
	border: 2px solid;
	border-color: #EEE;
	float: left;
	line-height: 138px;
	text-align: center;
}
.albumart{
	max-width: 146px;
	max-height: 146px;
	margin: auto auto;
	display: none;
	vertical-align: middle;
}
.active{
	display: inline-block;
}
#nextbutton{
	position: absolute;
	height: 25px;
	width: 25px;
	left: 121px;
	top: 121px;
	background-image: url("/momoclo/nextbutton.png");
	display: none;
}
#backbutton{
	position: absolute;
	height: 25px;
	width: 25px;
	top: 121px;
	background-image: url("/momoclo/backbutton.png");
	display: none;
}

/* ---------------- Lyrics ---------------- */
#lyriccontainer{
	margin: 5px 5px;
	width: 98%;
	display: inline-block;
	text-align: center;
}
.lyrictable{
	display: inline-block;
	max-width: 475px;
	text-align: left;
}
.lyrictable .columnhead, .lyrictable th{
	padding: 5px 15px;
	font-size: 1.25em;
	font-weight: 600;
	border-bottom: 1px solid;
}
.lyrictable tr{
	height: 40px;
}
.lyrictable td{
	padding: 5px 15px;
}
.lyrictable tbody{
	border-right: 1px solid #333;
}
.lyrictable.lone tbody, .lyrictable#englishtable tbody{
	border-right: none;
}
#callstable td{
	padding: 8px 15px;
	line-height: 120%;
}
.listtitle, #japanesetable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.videolink{
	margin: 3px 2px 0px 2px;
}

.hiddenjapanese, .placeholderromaji, .calls{
	display: none;
}
.japanesepreference{
	display: none;
}

/* ---------------- Calls ----------------- */
.lyrictable#callstable{
	max-width: 515px;
}
.lyrictable sup{
	cursor: pointer;
}

rt, .lyrictable sup{
	font-weight: 600;
	color: #00cfd0;
}
rt{
	font-size: 85%;
}
rt span.jump{
	font-size: 106%;
	font-weight: 800;
}
rt a, rt a:link, rt a:visited{
	color: inherit;
	text-decoration: none;
}

.blankspace, ruby.blankspace{
	color: #fff;
}
div.splitcall{
	display: inline-block;
	max-width: 185px;
	font-size: 14px;
}
div.splitcall:first-child{
	padding-right: 5px;
	border-right: 1px solid #777;
}
div.splitcall:nth-child(2){
	padding-left: 5px;
}
div.splitcall:nth-child(3){
	padding-left: 5px;
	border-left: 1px solid #777;
}

ruby .kanako, ruby .akari, ruby .momoka, ruby .shiori, ruby .aarin, ruby .reni{
	color: #00cfd0;
}
ruby .kanako{
	border-bottom: 2px solid #FF0000;
}
ruby .akari{
	border-bottom: 2px solid blue;
}
ruby .momoka{
	border-bottom: 2px solid green;
}
ruby .shiori{
	border-bottom: 2px solid #EBB400;
}
ruby .aarin{
	border-bottom: 2px solid #FF1493;
}
ruby .reni{
	border-bottom: 2px solid purple;
}

/* -------------- Blog Posts -------------- */
.content.ameba{
	padding: 20px 6%;
	margin-top: 0;
	max-width: 800px;
	color: #444;
	box-sizing: border-box;
}
.ameba h1{
	padding-bottom: 10px;
	margin-left: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
	
	font-weight: 600;
}
.ameba h1 a{
	color: #333;
	text-decoration: none;
}
.ameba h1 a:hover{
	color: #5f5f5f;
}
.ameba time, time{
	color: #999999;
	font-size: 0.8em;
}
.ameba .timecontainer{
	margin-bottom: 15px;
}

.ameba div{
	line-height: 1.4;
	font-size: 1.10em;
}
.ameba img{
	width: 400px;
	max-width: 100%;
}
.bloghead{
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

/* ---------------- Footer ---------------- */
.kanako{
	color: #FF0000;
}
.akari{
	color: blue;
}
.momoka{
	color: green;
}
.shiori{
	color: #EBB400;
}
.aarin{
	color: #FF1493;
}
.reni{
	color: purple;
}
.zversion{
	display: none;
}

/* ------------- Video Links -------------- */
#videoembedbox{
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}
.tablist{
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.tablist li{
	position: relative;
	top: 1px;
	display: inline-block;
	padding: 2px 6px 1px 6px;
	white-space: nowrap;
}
.tablist li.active{
	font-weight: 600;
	background-color: #F8F8FA;
	border: 1px solid #EDEDED;
	border-bottom: 1px solid #F8F8FA;
}
.tablist li.alone{
	border-bottom: 1px solid #EDEDED;
}
.tablist li{
	background-color: none;
}
.tablist li.active a{
	color: inherit;
}
.tablist li a{
	color: #07619B;
	text-decoration: none;
}
#togglevideo{
	width: 14px;
	height: 14px;
	position: absolute;
	top: -10px;
	background-image: url(".//minus.png");
	background-size: 14px 14px;
}
.videotogglealt#togglevideo{
	background-image: url(".//plus.png");
}
.tabs{
	max-width: 778px;
	margin: 0 auto;
	vertical-align: middle;
	background-color: #F8F8FA;
	border: 1px solid #EDEDED;
	text-align: center;
}
.videotab {
	display: none;
	max-width: 768px;
	height: 432px;
	padding: 5px 5px;
}
.videotab.active {
	display: block;
}
.videotab iframe, .videotab embed {
	width: 100%;
	height: 100%;
}

button{
	padding: 4px 12px;
	border: none;
	outline: 0;
}

iframe{
	display:block; 
	margin:0 auto;
}

/* ------------- Album Pages -------------- */
.albumcontainer{
	width: 310px;
	padding: 8px 22px;
	margin: 8px 12px 8px 14px;
	display: inline-block;
	vertical-align: top;
	border-radius: 2px;
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
}
.releasedate{
	float: right;
	margin: 3px 8px;
	color: #000;
	font-weight: 600;
	font-size: 16px;
}
.albumartcontainer2{
	max-width: 240px;
	max-height: 240px;
	margin: 0 auto;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}
.albumart2{
	max-width: 230px;
	max-height: 230px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	text-align: center;
}
.albumcontainer h2{
	text-align: center;
	margin-top: 2px;
}
.albumcontainer .tracklist td:first-child{
	width: 18px;
	padding-right: 7px;
	text-align: right;
	vertical-align: text-top;
}
.albumcontainer .bonusdescription{
	padding-left: 8px; 
	margin-bottom: 0px; 
	margin-top: 0px;
}
.albumcontainer .purchaselinks{
	display: inline-block;
	width: 100%;
	margin: 2px auto;
	text-align: center;
}
.albumcontainer .purchaselinks img{
	display: inline-block;
	margin: 2px;
	height: 20px;
}


.popup{
	position:fixed;
	display:none;
	background-color:rgba(0, 0, 0, 0.7);
	width:100%; 
	height:100%; 
	top:0;
	left:0;
	text-align: center;
	vertical-align: middle;
}
.popped{
	width: 90vw;
	height: 50.625vw;
	max-height: 90vh;
	max-width: 160vh;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* ------------ Manga Listings ------------ */
header.series{
	height: auto;
	display: block;
	color: #222;
	font-size: 26px;
	font-weight: 600;
	padding: 2px 14px;
	margin: 4px 0px;
	background: #F1F1F1;
	border-radius: 6px;
	box-shadow: none;
}

.wrap{
	text-align: center;
}
.item{
	display: inline-block;
	width: 300px;
	height: 400px;
	padding: 8px;
	margin: 12px;
	background: none;
	border-radius: 3px;
	vertical-align: top;
	line-height: 140%;
}
.item a{
	text-decoration: none;
}
.item .preview img{
	max-width: 250px;
	max-height: 300px;
	margin: 5px auto;
}
.item .preview img:hover{
	box-shadow: 0px 1px 9px 1px rgba(128, 128, 128, 0.65);
}
.item .itemtitle{
	font-size: 18px;
}
.item .author{
	font-size: 14px;
}
.item .source{
	font-size: 12px;
}

/* ------------ Mobile Display ------------ */

@media all and (max-device-width: 790px){
	.content, .content2{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
	}
	.tablist li{
		top: -3px;
		padding-bottom: 0px;
		padding-top: 1px;
	}
	.tablist li.active{
		border-bottom: 1px solid #EDEDED;
	}
}

@media all and (max-device-width: 600px){
	/* tables */
	#nicodoutable th:nth-child(2), #nicodoutable td:nth-child(2){
		display: none;
	}	
	
}

@media all and (max-device-width: 540px){
	#vocaasstable tr th:nth-child(2), #momoasstable tr th:nth-child(2), #miscasstable tr th:nth-child(2){
		display: none;
	}
	#vocaasstable tr td:nth-child(2), #momoasstable tr td:nth-child(2), #miscasstable tr td:nth-child(2){
		display: none;
	}
	#miscasstable tr th:nth-child(3), #miscasstable tr td:nth-child(3){
		display: none;
	}
}

@media all and (max-device-width: 540px) {
	/* Mobile header */
	header.top{
		position: fixed;
		max-height: 36px;
		width: 100%;
		top: 0;
		z-index: 99;
	}
	header.top div{
		height: 100%;
	}
	header.top a{
		margin: 0;
		padding: 0;
		height: 100%;
	}
	header.top img{
		padding-top: 4px;
	}
	header.top img#momoclologo{
		height: 90%;
		padding-top: 2px;
		margin: auto;
	}
	
	#pagetitle{
		margin-top: 3px;
		margin-right: 3px;
		line-height: 26px;
		vertical-align: middle;
	}
	#pagetitle a{
		padding-left: 4px;
		padding-right: 1px;
		margin-top: 2px;
		margin-right: 4px;
		height: 100%;
		font-size: 0.96em;
	}
	#searchform{
		display: none;
	}
	header.top #homebutton,header.top #settingsbutton{
		height: 24px;
		width: 24px;
		margin: 2px 2px 0 4px;
	}
		header.top #homebutton{
			margin-left: 8px;
		}
		header.top #settingsbutton{
			margin-right: 8px;
		}
	#top #settingsmenu{
		position: relative;
		display: block;
		height: 0;
		width: 100%;
		
		padding-top: 0;
		top: -4px;
		z-index: 2;
		transition: all 1s ease;
		overflow: hidden;
	}
	#top .active#settingsmenu{
		display: block;
		height: 75px;
	}
	#top #settingsmenu ul#settings{
		box-shadow: none;
	}
	
	/* List page content */
	.albumview .listitem{
		margin: 14px 0px;
	}
	.albumview .listitem .listoverlay{
		opacity: 1;
	}
	.settingslist{
		height: initial;
		width: 90%;
	}
	.settingslist div.albumview{
		margin: 8px 0px 0px 11px;
	}
	
	.albumview .listitem{
		width: 95%;
	}
	.albumview .listitem .listoverlay{
		background-color: rgba(0, 0, 0, 0.45);
	}
	.albumview .listitem a .listoverlay{
		background-color: initial;
	}
	
	/* Content */
	.content, .content2, .headtablist{
		margin-top: 36px;
	}
	h1{
		font-size: 1.7em;
	}
	h2{
		font-size: 1.5em;
	}
	
	/* Tab list */
	
	.headtablist{
		font-size: 0.9em;
	}
	.headtablist .tab{
		padding: 8px 16px 5px 16px;
	}

	/* Lyricpage top */
	#versionbutton{
		display: block;
		float: none;
		position: static;
	}
	#albumartcontainer{
		position: relative;
		width: 200px;
		height: 200px;
		border-width: 4px;
	}
	#albumartcontainer img.albumart{
		position: absolute;
		max-width: 200px;
		max-height: 200px;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
	#nextbutton,#backbutton{
		height: 30px;
		width: 30px;
		background-size: contain;
		z-index: 2;
	}
	#nextbutton{
		left: 170px;
		top: 170px;
	}
	#backbutton{
		top: 170px;
	}
	
	#vidoeembedbox{
		margin-top: 8px;
	}
	
	.infotable{
		display: block;
		max-width: 100%;
	}
		.infotable:first-child{
			margin-bottom: 8px;
		}
		.infotable:nth-child(n+2) th, .infotable:nth-child(n+2) td{
			border-top: 1px solid;
			border-color: #C5C5C5;
		}
	/* All info sections on individual lines in mobile view */
	.infotable tr{
		height: initial !important;
		line-height: 1.5em;
	}
	.infotable th{
		padding-left: 8px;
		width: 110px;
	}
	.infotable td{
		font-size: 1em;
	}
	
	/* Lyricpage content */
	#lyriccontainer{
		margin-left: 4px;
	}
	.lyrictable{
		max-width: 100%;
	}
	.lyrictable tr{
		font-size: 1.1em;
	}
	.lyrictable td{
		padding: 10px 15px;
	}
	.lyrictable .columnhead{
		font-size: 1.5em;
		padding-bottom: 2px;
	}
	#romajitable tbody, #japanesetable tbody, #callstable tbody{
		border-right: none;
	}
	
	/* Albumpage content */
	.albumcontainer{
		max-width: 310px;
		width: initial;
		display: block;
		border: none;
		padding: 8px 22px 18px 22px;
		margin: auto;
	}
	
	/* Blog post content */
	.content.ameba{
	}
	
	.ameba img.bloghead{
		top: -10px;
	}
}


@media all and (max-device-width: 355px) {
	header.top{
		height: 8vw;
	}
	header.top #homebutton,header.top #settingsbutton{
		height: 70%;
		width: initial;
		margin-top: auto;
	}
	#pagetitle a{
		font-size: 0.9em;
		font-size: 6vw;
	}
}
	
@media all and (max-device-width: 220px) {
	.momoclo #settingsmenu #settings li#japanesetoggle, .momoclo #settingsmenu #settings li#romajitoggle, 
	.momoclo #settingsmenu #settings li#callstoggle, .momoclo #settingsmenu #settings li#preferencetoggle{
		font-size: 7vw;
	}
}
