/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	margin: 4px auto;
	width: 98%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #c0ffe1;
	padding: 8px 2px 8px 6px;
}
table.tablesorter td:first-child,table.tablesorter td:nth-child(2){
	padding: 4px 20px 2px 5px;
}
table.tablesorter td:nth-last-child(2){
	padding: 4px 2px;
	text-align: center;
	width: 94px;
}
table.tablesorter td:last-child{
	padding: 4px 2px 0px 2px;
	text-align: center;
	width: 50px;
}
table.tablesorter th:last-child{
	padding: 4px 2px;
	text-align: center;
}
table.tablesorter a{
	text-decoration: none;
}
table.tablesorter img{
	display: inline-block;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px 12px 2px 2px;
	background-color: #FFF;
	vertical-align: middle;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #84FFC4;
}
table.tablesorter tr:nth-child(even) td{
	background-color: #FAFAFA;
}
table.tablesorter tr:nth-child(even){
	border-top: 1px solid #EEE; 
	border-bottom: 1px solid #EEE;
}

@media all and (max-device-width: 480px) {
	.content{
		padding: 0;
	}
	table.tablesorter{
		width: 100%;
		margin: 0;
	}
	#nicodoutable th:nth-child(3), #nicodoutable td:nth-child(3){
		display: none;
	}
	#nicodoutable th:first-child, #nicodoutable td:first-child{
		padding-left: 6px;
	}
}